.button-add{
  background-color: var(--blue-transparent);
  color: var(--blue-white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  font-size: 10px;
  transition: .8s;
}

.button-add:hover{
  background-color: #0025834b;
}